.container{
    font-size: 20rem;
    position: absolute;
    top: 50%;
    left: 35%;
}

.container div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img{
    height: 220px;
    position: absolute;
}