.main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent{
    width: calc(94vw - 80px);
    background-color: #1C1621;
    height: 100%;
    border-left: 1px solid var(--line-color);
    border-right: 1px solid var(--line-color);
}

@media(max-width: 1035px){
    .mainContent{
        width: calc(100vw - 20px);
        padding: 0 20px;
        border: none;
    }
}